* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background: #374151;
    --text-color: #cbd5e1;
}

body {
    background: var(--main-background);
    color: var(--text-color);
}